.button-group {
  display: flex;
  gap: 0.25em;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

nb-card-body {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.input-group {
  display: flex;
  align-items: center;
  & .title {
    margin-right: 1em;
  }
}

.input-group.gapped {
  gap: 1em;
}

.flex-end {
  justify-content: flex-end;
}
