:host {
  display: flex;
  flex-direction: column;
  align-items: safe center;
}

#logout-button {
  position: absolute;
  right: 1em;
  top: 1em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  max-width: 1400px;
}

.cards.buttons {
  margin-bottom: 30px;
}

h3 {
  margin: 0
}

.overview-card {
  overflow: auto;
}

.overview-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

app-transactions-view-chart {
  position: sticky;
  left: 0;
}
